<HTML>
<HEAD>
    <script LANGUAGE=JAVASCRIPT src="/js/script.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body onLoad='DisplayImage();InitiateAreaTable()'>
<table width='100%' align='center'>
    <tr><td align='center'><p class='WalksHeading'>New Zealand Walks Maintenance Utility</p></td></tr>
</table>
<br>
<table width='100%' align='center'>
    <tr>
        <td width='42%'>&nbsp</td>
        <td width='1%' align='center'>
            <input type='radio' id='Controller' name='Controller' value='Walks' onclick='InitiateAreaTable("Walks");GetAll(this.value)'>
        </td>
        <td width='3%'><p class='RadioTitle'>Walks</p></td>
        <td width='4.6%' align='left'><button type='submit' class='short-oval-button' id='Submit' name='Submit' value='Create' onClick='Create(this.value)'>Add</button></td>
        <td width='1%' align='center'>
            <input type='radio' id='Controller' name='Controller' value='Regions' onclick='InitiateAreaTable("Regions");GetAll(this.value)'>
        </td>
        <td width='5%'><p class='RadioTitle'>Regions</p></td>
        <td width='43.4%'>&nbsp</td>
    </tr>
</table>
<h1 id='WalksAPIData'></h1>
</body>

        @RenderBody()

</html>